* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    font-display: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 50px;
}

button {
    margin: 20px;
    width: 200px;
}